// 007681
.center-column {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  height: 80vh;
  width: 40vw;
  margin: 5px 5px 5px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36vw;
  border-color: gray;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px 0;
  flex: wrap;
}

.button-group button {
  flex: 1;
  background-color: #f4f4f4;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  width: 33%;
  cursor: pointer;
  font-size: 16px;
}

.button-group button.active {
  background: #90cfcc !important;         
  // border-bottom: 3px solid #007681 !important; 
}

.button-group button:not(:last-child) {
  border-right: none;
}

.button-group button:hover {
  background-color: #007681;
}

.button-icon-fixed-size {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 10px 10px 10px 10px;
}

.button-group button.active {
  background-color: #00a4b3;
  color: white;
  transition: 0.2s ease;
}

textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 36vw;
  border-radius: 5px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  font-family: monospace;
  background: #f9f9f9;
  object-fit: contain;
  resize: none;
}

button {
  background-color: #00a4b3;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

pre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 14px;
  height: 5vh;
  width: 36vw;
  margin: 0 auto;
  resize: none;
}

.response {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.response-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f9f9f9;
  border-radius: 5px;
  object-fit: contain;
  resize: none;
  overflow: hidden;

  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    transform 0.3s ease;

  max-height: 0;
  opacity: 0;
  transform: scaleY(0);
}

.response-container.active {
  max-height: 420px;
  opacity: 1;
  transform: scaleY(1);
}

small {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

small.ng-trigger,
small:not(:empty) {
  opacity: 1;
}