<div class="center-column">
  <h3>Key Provider Configuration</h3>
  <div class="button-group">
    <button type="button" (click)="toggleProvider('Google')" [class.active]="selectedProvider == 'Google'">
      <img src="./assets/logo/google.svg" alt="Google Logo" class="button-icon-fixed-size">
    </button>
    <button type="button" (click)="toggleProvider('AWS')" [class.active]="selectedProvider == 'AWS'">
      <img src="./assets/logo/aws.svg" alt="AWS Logo" class="button-icon-fixed-size">
    </button>
    <button type="button" (click)="toggleProvider('Azure')" [class.active]="selectedProvider == 'Azure'">
      <img src="./assets/logo/azure.svg" alt="Azure Logo" class="button-icon-fixed-size">
    </button>
  </div>
  <textarea [(ngModel)]="selectedProviderConfig" rows="30" cols="180"></textarea>
  <button matButton="elevated" type="button" (click)="kpc_request()"
    [disabled]="!selectedProvider || requesting()">Create Provider
    Configuration
  </button>
  @if (selectedProvider && requesting()) {
  <div>
    <pre style="color: black;">Submitting {{ selectedProvider }} configuration...</pre>
  </div>
  }

  @if (selectedProvider && !requesting() && configResponse[selectedProvider]) {
  <div class="response-container" [class.active]="!requesting() && configResponse[selectedProvider]">
    <pre style="color: forestgreen;">{{ configResponse[selectedProvider].response }}</pre>
    <button type="button" (click)="copyToClipboard(configResponse[selectedProvider].key_provider_id)">📋
      {{configResponse[selectedProvider].key_provider_id}}</button>
    @if (copiedPrompt() != '') {
    <small style="color: green;">{{copiedPrompt()}}</small>
    }
  </div>
  }
</div>