<div class="table-container">
  <table mat-table [dataSource]="dataSource_User" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="col-name">Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="col-email">Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
    <ng-container matColumnDef="ez_id">
      <th mat-header-cell *matHeaderCellDef class="col-kpc">Encryption Zone ID</th>
      <td mat-cell *matCellDef="let element">{{element.ez_id}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
  </table>
  <div class="toolbar">
    <div class="button-group">
      <button mat-raised-button color="primary" class="button" (click)="loadUsers()" [disabled]="loading">
        {{ loading ? 'Refreshing...' : 'Refresh' }}
      </button>
      <button mat-raised-button color="primary" class="button" (click)="openKPC()" [disabled]="loading">
        {{ loading ? 'Adding...' : 'Add User' }}
      </button>
      <button mat-raised-button color="primary" class="button" (click)="loadUsers()" [disabled]="loading">
        {{ loading ? 'Editing...' : 'Edit User' }}
      </button>
    </div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>