<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened [disableClose]="true">
    <mat-toolbar class="title-toolbar">
      <h3>Admin Portal</h3>
      <button matButton="elevated" (click)="logOut()">Log-out</button>
    </mat-toolbar>
    <mat-list>
      <mat-divider></mat-divider>

      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button" (click)="toggleAllPanels()">
            {{ allExpanded ? 'Collapse All' : 'Expand All' }}</button>
        </div>
      </mat-list-item>

      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button" (click)="openKPC()">Create Key Provider Config</button>
        </div>
      </mat-list-item>

      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button">Revoke keys</button>
        </div>
      </mat-list-item>

      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button">Export keys</button>
        </div>
      </mat-list-item>

      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button">System Information</button>
        </div>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <mat-accordion multi>

      <mat-expansion-panel #user_panel expanded class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Users </mat-panel-title>
          <mat-panel-description>
            Allowed Users for Client Side Encryption
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-user-panel></app-user-panel>
      </mat-expansion-panel>

      <mat-expansion-panel #user_panel expanded class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Providers </mat-panel-title>
          <mat-panel-description>
            Allowed Providers for Client Side Encryption
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-providers-panel></app-providers-panel>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel #logs_panel expanded class="logs-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Logs </mat-panel-title>
          <mat-panel-description>
            Audit Logs
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-logs-panel></app-logs-panel>
      </mat-expansion-panel> -->
      
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
