<!-- <input max="22" min="1" type="text" placeholder="Input a key" #key />
<button type="button" (click)="request_wrap_key(key.value)" [disabled]="requesting()">
  Request wrap key
</button>
@if (!requesting()){
@if(serverResponse){
<div>Message id: {{ serverResponse?.msg_id }}</div>
<div>Wrapped key: {{ serverResponse?.wrapped_key }}</div>
<div>calculated in {{ serveTimeResp() }}</div>
}
} -->

<!-- <div (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
  style="border: 2px dashed gray; padding: 20px; text-align: center;">
  <p>Drag & drop a file here, or select one below</p>

  <label style="cursor: pointer; color: white; background: #007bff; padding: 8px 16px; border-radius: 4px;">
    Choose File
    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;" />
  </label>
</div>

@if (file) {
<div style="margin-top: 15px;">
  <p><strong>Selected file:</strong> {{ file.name }}</p>
  <button type="button" (click)="uploadFile()" [disabled]="requesting()">Upload</button>
  <button type="button" (click)="clearFile()">Replace File</button>
</div>
} -->

<!-- <div class="column">
  <div>Provision Configuration</div>
  <textarea [(ngModel)]="provisionConfig" rows="10" cols="100"></textarea>
  <button type="button" (click)="provisionRequest()" [disabled]="requesting()">provision</button>
  @if (!requesting()){
    <button type="button" (click)="signinRequest()" [disabled]="signin()">Sign-in</button>
    @if (configResponse) {
      <div>
        <pre style="background: #f4f4f4; padding: 10px;">{{ configResponse.response }}</pre>
      </div>
    }
  }
</div> -->


<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar style="background-image: linear-gradient(to right, #1b6369, #018894); color: rgb(235, 235, 235);">
      <h3>Admin Portal</h3>
    </mat-toolbar>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button" (click)="toggleAllPanels()">{{ allExpanded ? 'Collapse All' : 'Expand All' }}</button>
        </div>
      </mat-list-item>
      <mat-list-item class="sidenav-container">
        <div>
          <button matButton="elevated" class="sidenav-button" (click)="openKPC()">Create Key Provider Config</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <mat-accordion multi>

      <mat-expansion-panel #user_panel expanded class="user-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Users </mat-panel-title>
          <mat-panel-description>
            Allowed Users for Client Side Encryption
          </mat-panel-description>
        </mat-expansion-panel-header>
        <user-table></user-table>
      </mat-expansion-panel>

      <mat-expansion-panel #logs_panel expanded class="logs-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Logs </mat-panel-title>
          <mat-panel-description>
            Audit Logs
          </mat-panel-description>
        </mat-expansion-panel-header>
        <logs-table></logs-table>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>





<!-- <div class="container">
  <div class="row">
    <div class="column">
      <img src="./assets/logo/google.svg" alt="Google Logo" class="fixed-size">
      <h3>Key Provider Configuration</h3>
      <textarea [(ngModel)]="defaultGoogle_kpc" rows="30" cols="180"></textarea>
      <button type="button" (click)="google_kpc_Request()" [disabled]="requesting()">Create Provider Configuration
      </button>
      @if (!requesting()){
      @if (configResponse.google) {
      <div>
        <pre>{{ configResponse.google.response }}</pre>
      </div>
      }
      }
    </div>

    <div class="column">
      <img src="./assets/logo/aws.svg" alt="AWS Logo" class="fixed-size">

      <h3>Key Provider Configuration</h3>
      <textarea [(ngModel)]="defaultAWS_kpc" rows="30" cols="180"></textarea>
      <button type="button" (click)="aws_kpc_Request()" [disabled]="requesting()">Create Provider Configuration</button>
      @if (!requesting()){
      @if (configResponse.aws) {
      <div>
        <pre style="background: #f4f4f4;">{{ configResponse.aws.response }}</pre>
      </div>
      }
      }
    </div>

    <div class="column">
      <img src="./assets/logo/azure.svg" alt="Azure Logo" class="fixed-size">
      <h3>Key Provider Configuration</h3>
      <textarea [(ngModel)]="defaultAzure_kpc" rows="30" cols="180"></textarea>
      <button type="button" (click)="azure_kpc_Request()" [disabled]="requesting()">Create Provider
        Configuration</button>
      @if (!requesting()){
      @if (configResponse.azure) {
      <div>
        <pre>{{ configResponse.azure.response }}</pre>
      </div>
      }
      }
    </div>
  </div>
</div> -->