/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.no-default-dialog .mat-mdc-dialog-container {
  padding: 0; 
}

.no-default-dialog .mat-mdc-dialog-surface {
  max-width: none !important; 
  width: auto !important;      
  height: auto !important;     
  display: inline-block;       
  background: transparent;     
  box-shadow: none;            
  overflow: hidden;
  max-height: none;
}

