<!-- <input max="22" min="1" type="text" placeholder="Input a key" #key />
<button type="button" (click)="request_wrap_key(key.value)" [disabled]="requesting()">
  Request wrap key
</button>
@if (!requesting()){
@if(serverResponse){
<div>Message id: {{ serverResponse?.msg_id }}</div>
<div>Wrapped key: {{ serverResponse?.wrapped_key }}</div>
<div>calculated in {{ serveTimeResp() }}</div>
}
} -->

<!-- <div (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
  style="border: 2px dashed gray; padding: 20px; text-align: center;">
  <p>Drag & drop a file here, or select one below</p>

  <label style="cursor: pointer; color: white; background: #007bff; padding: 8px 16px; border-radius: 4px;">
    Choose File
    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;" />
  </label>
</div>

@if (file) {
<div style="margin-top: 15px;">
  <p><strong>Selected file:</strong> {{ file.name }}</p>
  <button type="button" (click)="uploadFile()" [disabled]="requesting()">Upload</button>
  <button type="button" (click)="clearFile()">Replace File</button>
</div>
} -->

<!-- <div class="column">
  <div>Provision Configuration</div>
  <textarea [(ngModel)]="provisionConfig" rows="10" cols="100"></textarea>
  <button type="button" (click)="provisionRequest()" [disabled]="requesting()">provision</button>
  @if (!requesting()){
    <button type="button" (click)="signinRequest()" [disabled]="signin()">Sign-in</button>
    @if (configResponse) {
      <div>
        <pre style="background: #f4f4f4; padding: 10px;">{{ configResponse.response }}</pre>
      </div>
    }
  }
</div> -->


<div class="center-container">
  <div class="center-column">
    <h3>Key Provider Configuration</h3>
    <div class="button-group">
      <button type="button" (click)="toggleProvider('Google')" [class.active]="selectedProvider == 'google'">
        <img src="./assets/logo/google.svg" alt="Google Logo" class="button-icon-fixed-size">
      </button>
      <button type="button" (click)="toggleProvider('AWS')" [class.active]="selectedProvider == 'aws'">
        <img src="./assets/logo/aws.svg" alt="AWS Logo" class="button-icon-fixed-size">
      </button>
      <button type="button" (click)="toggleProvider('Azure')" [class.active]="selectedProvider == 'azure'">
        <img src="./assets/logo/azure.svg" alt="Azure Logo" class="button-icon-fixed-size">
      </button>
    </div>
    <textarea [(ngModel)]="selectedProviderConfig" rows="30" cols="180"></textarea>
    <button type="button" (click)="kpc_request()" [disabled]="!selectedProvider || requesting()">Create Provider
      Configuration
    </button>
    @if (selectedProvider && requesting()) {
    <div>
      <pre style="color: black;">Submitting {{ selectedProvider }} configuration...</pre>
    </div>
    }

    @if (selectedProvider && !requesting() && configResponse[selectedProvider]) {
    <div style="background: #f4f4f4;">
      <pre style="color: forestgreen;">{{ configResponse[selectedProvider].response }}</pre>
      <div class="response">
        <button type="button" (click)="copyToClipboard(configResponse[selectedProvider].key_provider_id)">📋</button>
        <p>{{configResponse[selectedProvider].key_provider_id}}</p>
      </div>
      @if (copiedPrompt() != '') {
      <small style="color: green;">{{copiedPrompt()}}</small>
      }
    </div>
    }
  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="column">
      <img src="./assets/logo/google.svg" alt="Google Logo" class="fixed-size">
      <h3>Key Provider Configuration</h3>
      <textarea [(ngModel)]="defaultGoogle_kpc" rows="30" cols="180"></textarea>
      <button type="button" (click)="google_kpc_Request()" [disabled]="requesting()">Create Provider Configuration
      </button>
      @if (!requesting()){
      @if (configResponse.google) {
      <div>
        <pre>{{ configResponse.google.response }}</pre>
      </div>
      }
      }
    </div>

    <div class="column">
      <img src="./assets/logo/aws.svg" alt="AWS Logo" class="fixed-size">

      <h3>Key Provider Configuration</h3>
      <textarea [(ngModel)]="defaultAWS_kpc" rows="30" cols="180"></textarea>
      <button type="button" (click)="aws_kpc_Request()" [disabled]="requesting()">Create Provider Configuration</button>
      @if (!requesting()){
      @if (configResponse.aws) {
      <div>
        <pre style="background: #f4f4f4;">{{ configResponse.aws.response }}</pre>
      </div>
      }
      }
    </div>

    <div class="column">
      <img src="./assets/logo/azure.svg" alt="Azure Logo" class="fixed-size">
      <h3>Key Provider Configuration</h3>
      <textarea [(ngModel)]="defaultAzure_kpc" rows="30" cols="180"></textarea>
      <button type="button" (click)="azure_kpc_Request()" [disabled]="requesting()">Create Provider
        Configuration</button>
      @if (!requesting()){
      @if (configResponse.azure) {
      <div>
        <pre>{{ configResponse.azure.response }}</pre>
      </div>
      }
      }
    </div>
  </div>
</div> -->