.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    height: 20vh;
    width: 100%;
    table-layout: fixed; 
  }

  th, td {
    text-align: left;
    padding: 8px 12px;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .col-time {
    width: 20%;
  }

  .col-message {
    width: 40%;
  }

  mat-paginator {
    margin-top: 10px;
  }
}
